<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Datos generales <small>Pedidos</small></h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form id="quickForm" action="/app/pedidos/guardar" method="post">
            <div class="card-body">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="idmesero">Mesero</label>
                  <select class="form-control cmbBuscarMesero select2 select2-hidden-accessible" style="width: 100%;"
                    data-select2-id="2" tabindex="-1" aria-hidden="true" name="idmesero" id="idmesero">
                    <option value="" selected>Seleccione un valor</option>
                    {{#each listaMeseros}}
                    <option value="{{idmesero}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="Estacion">Estacion</label>
                  <select class="form-control cmbBuscarEstacion select2 select2-hidden-accessible" style="width: 100%;"
                    data-select2-id="3" tabindex="-1" aria-hidden="true" name="Estacion" id="idestacion">
                    <option value="" selected>Seleccione un valor</option>
                    {{#each listaEstaciones}}
                    <option value="{{idestacion}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="modalidad">Modalidad</label>
                  <select class="form-control" id="modalidad" name="modalidad" placeholder="Modalidad">
                    <option value="" selected>Seleccione un valor</option>
                    <option value="LL">Llevar</option>
                    <option value="DO">Domicilio</option>
                    <option value="ME">Mesa</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="activo">Estado</label>
                  <select class="form-control" id="activo" name="activo" placeholder="Activo">
                    <option value="1" default>Pendiente</option>
                    <option value="0">Finalizado</option>
                  </select>
                </div>
                <div id="field_wrapper" class="col-md-12">
                  <!-- <div class="form-group col-md-6"><label>Cliente</label><select class="form-control cmbbuscar select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true"><option value="" selected disabled hidden>Seleccione un valor</option><?php foreach ($this->clientes as $cliente) { ?> <option value=" <?php echo $cliente['idcliente'] ?>"><?php echo $cliente['nombre'] ?></option><?php } ?> </select></div>                     -->
                </div>
                {{!-- <div class="form-group col-md-6">
                  <label for="fechahora">Estado del Pedido</label>
                  <div class="row">
                    <div
                      class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success mr-4 ml-2">
                      <input type="checkbox" class="custom-control-input" id="elaborado" name="elaborado" value="1"
                        checked control-id="ControlID-43">
                      <label class="custom-control-label" for="elaborado">Elaborado</label>
                    </div>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success mr-4">
                      <input type="checkbox" class="custom-control-input" id="entregado" name="entregado" value="1"
                        checked control-id="ControlID-43">
                      <label class="custom-control-label" for="entregado">Entregado</label>
                    </div>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success mr-4">
                      <input type="checkbox" class="custom-control-input" id="facturado" name="facturado" value="1"
                        checked control-id="ControlID-43">
                      <label class="custom-control-label" for="facturado">Facturado</label>
                    </div>
                  </div>
                </div> --}}
              </div>
              <label for="">Agregar Fila</label>
              <button type="button" id="AgregarFila" class="btn btn-success"><i
                  class="text-white fas fa-plus-square"></i></button>
              <button type="button" id="ListarFila" class="btn btn-warning"><i
                  class="text-white fas fa-plus-square"></i></button>
                  
              <div class="table-responsive">
                <table id="detallePedido" class="table m-0">
                  <thead>
                    <tr>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>SubProducto</th>
                      <th>Notas</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody id="bodydetalle">

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="button" class="btn btn-primary toastrDefaultSuccess pedidosGuardar"
                  value="/app/pedidos/guardar">Guardar</button>
              </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var conteoDetallePedidos = 0

    var table = document.getElementById("bodydetalle");
    $('#AgregarFila').click(function () {
      console.log("AgregarFila");
      var row = table.insertRow(conteoDetallePedidos);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);
      cell1.innerHTML = '<select class="form-control cmbBuscarProducto select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="5" tabindex="-1" aria-hidden="true" name="detallePedido[' + conteoDetallePedidos + '][producto]" id="detallePedido[' + conteoDetallePedidos + '][producto]"><option value="" selected>Seleccione un valor</option>{{#each listaProductos}}<option value="{{Codigo}}">{{Nombre}}</option>{{/each}}</select>';
      cell2.innerHTML = '<input type="number" class="form-control" name="detallePedido[' + conteoDetallePedidos + '][cantidad]" id="detallePedido[' + conteoDetallePedidos + '][cantidad]" placeholder="Cantidad">';
      cell3.innerHTML = '<select class="form-control cmbBuscarSubProducto select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" name="detallePedido[' + conteoDetallePedidos + '][subproducto]" id="detallePedido[' + conteoDetallePedidos + '][subproducto]"><option value="" selected>Seleccione un valor</option>{{#each listaProductos}}<option value="{{Codigo}}">{{Nombre}}</option>{{/each}}</select>';
      cell4.innerHTML = '<input type="text" class="form-control" name="detallePedido[' + conteoDetallePedidos + '][notas]" id="detallePedido[' + conteoDetallePedidos + '][notas]" placeholder="Notas">';
      cell5.innerHTML = '<button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)"><i class="fas fa-trash"></i></button>';
      conteoDetallePedidos++;

    $('.cmbBuscarProducto').select2();
    $('.cmbBuscarSubProducto').select2();
    })

    $('#ListarFila').click(function(){
      var arrData=[];
   // loop over each table row (tr)
   $("#detallePedido tr").each(function(){
    $(".check-icon").hide();
      setTimeout(function () {
        $(".check-icon").show();
      }, 10);
        var currentRow=$(this);
    
        var col1_value=currentRow.find("td:eq(0)").text();
        var col2_value=currentRow.find("td:eq(1)").text();
        var col3_value=currentRow.find("td:eq(2)").text();
        var col4_value=currentRow.find("td:eq(3)").text();

         var obj={};
        obj.col1=col1_value;
        obj.col2=col2_value;
        obj.col3=col3_value;
        obj.col4=col4_value;

        arrData.push(obj);
   });
   
    console.log(arrData);
      
    })

    

    
    $('.cmbBuscarEstacion').select2();
    $('.cmbBuscarMesero').select2();

    var cmbModalidad = document.getElementById('modalidad'); //Add button selector
    var wrapper = $('#field_wrapper'); 
    var fieldMesa = '<div id="mesa" class="col-md-12 row"><div class="form-group col-md-6"><label for="idcliente">N° Mesa</label><select class="form-control cmbbuscarMesa select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="4" tabindex="-1" aria-hidden="true" id="idmesa" name="idmesa"><option value="" selected disabled hidden>Seleccione un valor</option>{{#each listaMesas}}<option value="{{idregistro}}">{{Mesa}}</option>{{/each}}</select></div><div class="form-group col-md-6"><label for="idpedido">Cuenta</label><input type="number" min=0 ste=1 class="form-control" id="cuenta" name="cuenta" placeholder="Cuenta" required></div><div class="form-group col-md-6"><label for="idcliente">Nombre de la Cuenta</label><input type="text" class="form-control" id="nombrecuenta" name="nombrecuenta" placeholder="Nombre de la cuenta" required></div></div>'; //New input field html 
    var fieldLlevar = '<div id="mesa2" class="col-md-12 row"><div class="form-group col-md-6" data-select2-id="63"><label>Cliente</label><select class="form-control cmbBuscarLlevar select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" name="idcliente" id="idcliente"><option value="" selected>Seleccione un valor</option>{{#each listaClientes}} <option value="{{idcliente}}">{{nombre}}</option>{{/each}}</select></div>';
    var x = 1;
    var y = 1;
    var max = 1;


    $(cmbModalidad).change(function () {
      var cmbModalidadValor = cmbModalidad.options[cmbModalidad.selectedIndex].text; //Get initial value
        console.log(cmbModalidadValor);
      if (cmbModalidadValor == 'Mesa' && max <= 1) {
          x++;
          $(wrapper).append(fieldMesa);          
          $('.cmbBuscarLlevar').select2();         
          $('.cmbbuscarMesa').select2();
        }
         else {
          x == 0;
          $('#mesa').remove();
        }
        if (cmbModalidadValor == 'Llevar' && max <= 1) {
          x++;
          $(wrapper).append(fieldLlevar);          
          $('.cmbBuscarLlevar').select2();
        }
         else {
          x == 0;
          $('#mesa2').remove();
        } //Add field html
    });
  });

  function deleteRow(row) {
      var i = row.parentNode.parentNode.rowIndex;
      document.getElementById("detallePedido").deleteRow(i);
    }

  




</script>