<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Datos generales <small>Pedidos</small></h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form id="formPedido" action="/app/pedidos/editar?id={{pedido.NumeroPedido}}" method="get">
            <div class="card-body">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="idmesero">Mesero</label>
                  <select class="form-control cmbBuscarMesero select2 select2-hidden-accessible" style="width: 100%;"
                    data-select2-id="2" tabindex="-1" aria-hidden="true" name="idmesero" id="idmesero">
                      <option value="{{pedido.idmesero}}">{{nombremesero.nombre}}</option>
                    {{#each listaMeseros}}
                      <option value="{{idmesero}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="Estacion">Estacion</label>
                  <select class="form-control cmbBuscarEstacion select2 select2-hidden-accessible" style="width: 100%;"
                    data-select2-id="3" tabindex="-1" aria-hidden="true" name="Estacion" id="idestacion">
                    <option value="{{pedido.Estacion}}" selected>{{nombreestacion.nombre}}</option>
                    {{#each listaEstaciones}}
                    <option  value="{{idestacion}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="modalidad">Modalidad</label>
                  <select class="form-control" id="modalidad" name="modalidad" placeholder="Modalidad">
                    <option value="{{pedido.modalidad}}" selected>{{pedido.modalidad}}</option>
                    <option value="LL">Llevar</option>
                    <option value="DO">Domicilio</option>
                    <option value="ME">Mesa</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="activo">Estado</label>
                  <select class="form-control" id="activo" name="activo" placeholder="Activo">
                    <option value="1" default>Pendiente</option>
                    <option value="0">Finalizado</option>
                  </select>
                </div>
                <div id="field_wrapper" class="col-md-12">
                  <!-- <div class="form-group col-md-6"><label>Cliente</label><select class="form-control cmbbuscar select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true"><option value="" selected disabled hidden>Seleccione un valor</option><?php foreach ($this->clientes as $cliente) { ?> <option value=" <?php echo $cliente['idcliente'] ?>"><?php echo $cliente['nombre'] ?></option><?php } ?> </select></div>                     -->
                </div>
                
                {{!-- <div class="form-group col-md-6">
                  <label for="fechahora">Estado del Pedido</label>
                  <div class="row">
                    <div
                      class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success mr-4 ml-2">
                      <input type="checkbox" class="custom-control-input" id="elaborado" name="elaborado" value="1"
                        checked control-id="ControlID-43">
                      <label class="custom-control-label" for="elaborado">Elaborado</label>
                    </div>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success mr-4">
                      <input type="checkbox" class="custom-control-input" id="entregado" name="entregado" value="1"
                        checked control-id="ControlID-43">
                      <label class="custom-control-label" for="entregado">Entregado</label>
                    </div>
                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success mr-4">
                      <input type="checkbox" class="custom-control-input" id="facturado" name="facturado" value="1"
                        checked control-id="ControlID-43">
                      <label class="custom-control-label" for="facturado">Facturado</label>
                    </div>
                  </div>
                </div> --}}
              </div>
              <label for="">Agregar Fila</label>
              <button type="button" id="AgregarFila" class="btn btn-success"><i
                  class="text-white fas fa-plus-square"></i></button>
              <div class="table-responsive">
                <table id="detallePedido" class="table m-0">
                  <thead>
                    <tr>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>SubProducto</th>
                      <th>Notas</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <a class="btn btn-primary toastrDefaultSuccess" onclick="pedidosModificar({{pedido.NumeroPedido}})" href="javascript:void(0)" id="{{pedido.NumeroPedido}}">Guardar</a>
              </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
  var conteoDetallePedidos = 0

  var table = document.getElementById("detallePedido");
    $('#AgregarFila').click(function () {
      console.log("AgregarFila");
      var row = table.insertRow(conteoDetallePedidos);
      var cell1 = row.insertCell(0);
      var cell2 = row.insertCell(1);
      var cell3 = row.insertCell(2);
      var cell4 = row.insertCell(3);
      var cell5 = row.insertCell(4);
      cell1.innerHTML = '<select class="form-control cmbBuscarProducto select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="5" tabindex="-1" aria-hidden="true" name="Producto' + conteoDetallePedidos + '" id="Producto' + conteoDetallePedidos + '"><option value="" selected>Seleccione un valor</option>{{#each listaProductos}}<option value="{{idproducto}}">{{nombre}}</option>{{/each}}</select>';
      cell2.innerHTML = '<input type="number" class="form-control" name="Cantidad' + conteoDetallePedidos + '" id="Cantidad' + conteoDetallePedidos + '" placeholder="Cantidad">';
      cell3.innerHTML = '<select class="form-control cmbBuscarSubProducto select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" name="SubProducto' + conteoDetallePedidos + '" id="SubProducto' + conteoDetallePedidos + '"><option value="" selected>Seleccione un valor</option>{{#each listaSubProductos}}<option value="{{idsubproducto}}">{{nombre}}</option>{{/each}}</select>';
      cell4.innerHTML = '<input type="text" class="form-control" name="Notas' + conteoDetallePedidos + '" id="Notas' + conteoDetallePedidos + '" placeholder="Notas">';
      cell5.innerHTML = '<button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)"><i class="fas fa-trash"></i></button>';
      conteoDetallePedidos++;

      $('.cmbBuscarProducto').select2();
    $('.cmbBuscarSubProducto').select2();
    })

    $('.cmbBuscarEstacion').select2();
    $('.cmbBuscarMesero').select2();
    //api put para actualizar el pedido
  });
    function pedidosModificar (id) {    

      var url = "/app/pedidos/editar?id=" + id;
      var datam= {
          idmesero: $("#idmesero").val(),
          Estacion: $("#idestacion").val(),
          activo: $("#activo").val(),
          modalidad: $("#modalidad").val(),
          estado: 'AAA',
        };
      $.ajax({
        type: 'PUT',
        url: url,
        data: datam,        
        success: function (data, status) {
          if (status == 'success') {
            alert("Data: " + data + "\nStatus: " + status);
            window.location.replace("listar");
          } else {
            alert("Data: " + data + "\nStatus: " + status);
            console.log("Error"+ data.message);
          }
        },
        error: function (data) {
          console.log(data);
          alert('Error al guardar el pedido');
        }
      });
    };

    function EliminarFila(id) {
      $('#' + id).remove();
    }



    

</script>
  