<section class="content">
    <div class="container-fluid">
        <h5 class="mb-2 mt-4">Lista de Pedidos Cancelados</h5>
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Información general de pedidos a cancelar</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>ID PEDIDO</th>
                                        <th>USUARIO</th>
                                        <th>FECHA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each pedidos_cancelados}}
                                    <tr id="list-{{id}}">
                                        <td><a href="/pedidoscancelados/buscarid?id=<?php echo $row['numeropedido']; ?>">{{id}}</a>
                                        </td>
                                        <td>{{'usuario.LoginUsuario'}}</td>
                                        <td>{{fechahora}}</td>
                                        <td>
                                            <a class="btn btn-warning"
                                                href="/app/pedidos_cancelados/buscarid?id={{id}}"><i
                                                    class="text-white fas fa-edit"></i></a>
                                            <button type="button" class="btn btn-danger modalEliminar" id="{{id}}"
                                                data-toggle="modal" data-target="#modal-danger">
                                                <i class="text-white fas fa-window-close"></i>
                                            </button>

                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="/app/pedidos_cancelados/nuevo" class="btn btn-sm btn-info float-left">Nuevo pedido
                            cancelado</a>
                        <a href="/app/pedidos_cancelados/buscar" class="btn btn-sm btn-secondary float-right">Buscar
                            pedido cancelado</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- Fin columna izquierda -->
        </div>
        <!-- Fin primera fila -->
    </div>
</section>
<div id="field_wrapper"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('.modalEliminar').click(function () {
            var id = $(this).attr('id');
            console.log(id);
            //$('#idEliminar').val(id);

            var wrapper = $('#field_wrapper');
            var modal = '<div class="modal fade" id="modal-danger"><div class="modal-dialog"><div class="modal-content bg-danger"><div class="modal-header"><h4 class="modal-title">Eliminar Pedido</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><p> ¿Esta seguro de eliminar el Pedido ' + id + '?&hellip;</p></div><div class="modal-footer justify-content-between"><button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button><button type="button"  class="btn btn-outline-light" onclick="pedidosEliminar(' + id + ')">Eliminar Pedido</button></div></div></div></div>'
            $(wrapper).append(modal);
        });
    })

    function pedidosEliminar(id) {
        var url = "/app/pedidos_cancelados/eliminar?id=" + id;
        $.ajax({
            type: 'DELETE',
            url: url,
            success: function (data, status) {
                if (status == 'success') {
                    //alert("Data: " + data + "\nStatus: " + status);
                    $("#list-" + id).remove();
                    $(document).Toasts('create', {
                        class: 'bg-success',
                        title: 'Pedido Eliminado',
                        subtitle: '',
                        body: 'El pedido "' + id + '" se ha sido eliminado correctamente'
                    })
                    $('#modal-danger').modal('hide');
                    return false;
                } else {
                    $(document).Toasts('create', {
                        class: 'bg-danger',
                        title: 'Pedido Eliminado',
                        subtitle: '',
                        body: 'El pedido "' + id + '" no se ha podido eliminar'
                    })
                    console.log("Error" + data.message);
                }


            },
            error: function (data) {
                console.log(data.message);
                console.log(data);
                alert('Error al Eliminar el pedido');
            }
        });
    };
</script>