<section class="content">
    <div class="container-fluid">
        <h5 class="mb-2 mt-4">Lista de cargos</h5>
        <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Información general de cargos</h3>

                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                    <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCION</th>
                    <th>ACCIONES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each cargos}}
                    <tr>
                        <td><a href="/cargos/buscarId?id={{this.dataValues.id}}">{{this.dataValues.id}}</a></td>
                        <td>{{this.dataValues.nombre}}</td>
                        <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">{{this.dataValues.descripcion}}</div>  
                        </td>
                        <td><a href="/cargos/eliminar?id={{this.dataValues.id}}"><button type="button" class="btn btn-danger" >Eliminar</button></a></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <a href="/cargos/nuevo" class="btn btn-sm btn-info float-left">Generar nuevo cargo</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Buscar pedido</a>
            </div>
            <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- Fin columna izquierda -->
        <!-- Comienzo columna derecha -->
        <div class="col-md-4">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Areas del restaurante</h3>

                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                <div class="col-md-8">
                    <div class="chart-responsive">
                    <canvas id="pieChart" height="150"></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <ul class="chart-legend clearfix">
                    <li><i class="far fa-circle text-danger"></i> Chrome</li>
                    <li><i class="far fa-circle text-success"></i> IE</li>
                    <li><i class="far fa-circle text-warning"></i> FireFox</li>
                    <li><i class="far fa-circle text-info"></i> Safari</li>
                    <li><i class="far fa-circle text-primary"></i> Opera</li>
                    <li><i class="far fa-circle text-secondary"></i> Navigator</li>
                    </ul>
                </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
                <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                    United States of America
                    <span class="float-right text-danger">
                        <i class="fas fa-arrow-down text-sm"></i>
                        12%</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                    India
                    <span class="float-right text-success">
                        <i class="fas fa-arrow-up text-sm"></i> 4%
                    </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                    China
                    <span class="float-right text-warning">
                        <i class="fas fa-arrow-left text-sm"></i> 0%
                    </span>
                    </a>
                </li>
                </ul>
            </div>
            <!-- /.footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- Fin columna derecha -->
        </div>
        <!-- Fin primera fila -->
    </div>
</section>