
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Datos generales <small>Pedidos Elaborados</small></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" action="/app/pedidoselaborados/editar?id={{pedidoelab.iddetallepedido}}" method="post">
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputNombre">N° Detalle Pedidos</label>
                    <input type="number" name="iddetallepedido" class="form-control" id="inputdetallepedido" value="{{pedidoelab.iddetallepedido}}" placeholder="Escriba el id detalle pedido" required>
                  </div>
                  <div class="form-group">
                    <label for="textareaDescricion">Usuario</label>
                    <!-- <select class="form-control" name="idusuario"> -->
                    <select class="form-control cmbBuscarUsuario select2 select2-hidden-accesible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" name="idusuario" id="selectusuario">
                    <option value="{{usuario.idregistro}}" selected>{{usuario.LoginUsuario}}</option>
                    {{#each lista}}
                        <option value="{{idregistro}}">{{LoginUsuario}}</option>
                    {{/each}}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="textareaDescricion">Fecha Hora</label>
                    <input type="date" name="fechahora" class="form-control" id="inputfecha" value="{{pedidoelab.fechahora}}" placeholder="Escriba la descripcion del cargo">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <a class="btn btn-primary toastrDefaultSuccess" onclick="pedidosModificar({{pedidoelab.iddetallepedido}})" href="javascript:void(0)" id="{{pedidoelab.iddetallepedido}}">Guardar</a>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

    </section>



    <!-- /.content -->

<!-- Aqui agregar script adicionales -->
<!-- jquery-validation -->
{{!-- <script src="/public/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/public/plugins/jquery-validation/additional-methods.min.js"></script> --}}

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    $('.cmbBuscarUsuario').select2();

  });
  function pedidosModificar (id) {    

      var url = "/app/pedidoselaborados/editar?id=" + id;
      var datam= {
                iddetallepedido: $("#inputdetallepedido").val(), 
                idusuario: $("#selectusuario").val(),
                fechahora: $("#inputfecha").val()
        };
        console.log("Numero"+id);
      $.ajax({
        type: 'PUT',
        url: url,
        data: datam,        
        success: function (data, status) {
          if (status == 'success') {
                window.location.replace("listar");
                //alert("Data: " + data + "\nStatus: " + status);
                $(document).Toasts('create', {
                  class: 'bg-success',
                  title: 'Pedido Creado',
                  subtitle: '',
                  body: 'El pedido elaborado se ha editado correctamente',
                })
 
              } else {
                $(document).Toasts('create', {
                  class: 'bg-danger',
                  title: 'Pedido Eliminado',
                  subtitle: '',
                  body: 'El pedido elaborado no se ha editado correctamente',
                })
                console.log("Error" + data.message);
              }
        },
        error: function (data) {
          console.log(data.message);
          console.log(data);
          alert('Error al guardar el pedido');
          
        }
      });
    };


</script>

