<section class="content">
  <div class="container-fluid">
    <h5 class="mb-2 mt-4">Lista de Pedidos llevar</h5>
    <div class="row">
      <!-- Left col -->
      <div class="col-md-8">
        <!-- TABLE: LATEST ORDERS -->
        <div style="color: ;#00a65a" class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Listado general de pedidos llevar</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>ID DETALLE</th>
                    <th>USUARIO</th>
                    <th>ID ENTREGA</th>
                    <th>FECHA </th>
                  </tr>
                </thead>

                <tbody>
                  {{#each entrega_pedidos}}
                  <tr>
                    <td><a
                        href="/entrega_pedidos/buscarId?id={{idDetalle}}">{{idDetalle}}</a>
                    </td>
                    <td>{{'usuario.LoginUsuario'}}</td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">{{identrega}}</div>
                    </td>
                    <td>{{fechahora}}</td>
                    <td>
                          <a class="btn btn-warning" href="/pedidos/buscarId?id=<?php echo $row['NumeroPedido']; ?>"><i class="text-white fas fa-edit"></i></a>
                          <a class="btn btn-danger" onclick="return confirm('Estas seguro de Cancelar el pedido?')" href="/pedidos/eliminar?id=<?php echo $row['NumeroPedido']; ?>"><i class="text-white fas fa-window-close"></i></a>
                    </td>
                  </tr>


                  {{/each}}

                </tbody>

              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <a href="/app/entregaPedidos/nuevo" class="btn btn-sm btn-info float-left">Generar otra pedido a llevar</a>
            <a href="/app/entregaPedidos/buscar" class="btn btn-sm btn-secondary float-right">Buscar</a>
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- Fin columna izquierda -->
      <!-- Comienzo columna derecha -->
      <div class="col-md-4">
        <!-- /.card -->
      </div>
      <!-- Fin columna derecha -->
    </div>
    <!-- Fin primera fila -->
  </div>
</section>