
    <section class="content-header">
        <div class="container-fluid">
            <h2 class="text-center display-4">Busqueda de pedido llevar</h2>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="" method="">
                        <div class="input-group input-group-lg">
                            <select class="" id="filtro" name="filtro">
                                <option value="idRegistro">N° Registro</option>
                                <option value="nombre">Cliente</option>
                            </select>
                            <input type="text" id="buscar" name="buscar" class="form-control form-control-lg" placeholder="Buscar" value="">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-lg btn-default btnbuscar">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3"></div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>REGISTRO</th>
                                <th>N° PEDIDO</th>
                                <th>CLIENTE</th>
                                <!-- <th>ESTADO</th> -->
                            </tr>
                        </thead>
                        <tbody>
                              {{#each lista}}
                                <tr>
                                    <td><a href="/pedidosllevar/buscarId?id={{idRegistro}}">{{idRegistro}}</a></td>
                                    <td>{{idPedido}}</td>
                                     <td>{{'cliente.nombre'}}</td>
                                    <td>
                                        <a class="btn btn-warning" href="buscarId?id={{idRegistro}}">Editar</a>
                                        <a class="btn btn-danger"
                            onclick="pedidosEliminar({{idRegistro}})" href="javascript:void(0)"
                            id="{{idRegistro}}">Eliminar<i class="text-white fas fa-trash"></i></a>
                                    </td>
                                </tr>

                           {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>
   {{!--  <?php
    if ($this->datos == null) {
        $msj =
            '<section class="content-header">
                        <div class="container-fluid">
                            <h5 class="text-center display">No existen datos que coincidan con la busqueda</h5>
                        </div>
                    </section>';
        echo $msj;
    }
    ?> --}}
    <script>
        function pedidosEliminar(id) {

    var url = "/app/pedidosLlevar/eliminar?id=" + id;
    $.ajax({
      type: 'DELETE',
      url: url,
      success: function (data, status) {
        if (status == 'success') {
          alert("Data: " + data + "\nStatus: " + status);
          window.location.replace("listar");
        } else {
          alert("Data: " + data + "\nStatus: " + status);
          console.log("Error" + data.message);
        }
      },
      error: function (data) {
        console.log(data);
        alert('Error al eliminar el pedido');
      }
    });
  };
        
        document.addEventListener('DOMContentLoaded', function () {
            console.log(window.location.href)
            if(window.location.href == "http://localhost:3010/app/Pedidosllevar/buscar?filtro=idRegistro&buscar=    "){
                window.location.href = '/app/Pedidosllevar/buscar';    
            }

            $('.btnbuscar').click(function () {
                var filtro = $('#filtro').val();
                var buscar = $('#buscar').val();
                var url = '/app/Pedidosllevar/buscar?filtro=' + filtro + '&buscar=' + buscar;
                window.location.href = url;
            });
        });
    </script>


   