<div class="wrapper">

  <!-- Main content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <h5 class="mb-2 mt-4">Lista de Pedidos</h5>
      <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Información general de pedidos a llevar</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th>ID REGISTRO</th>
                      <th>ID PEDIDO</th>
                      <th>NOMBRE MESA</th>
                      <th>CUENTA</th>
                      <th>NOMBRECUENTA</th>
                      <th>ACCIONES</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each pedidos_mesa}}
                    <tr>
                      <td>{{idregistro}}</td>
                      <td><a href="/cargos/buscarId?id={{idpedido}}">{{idpedido}}</a></td>
                      <td>{{'mesas_x_area.Mesa'}}</td>
                      <td>{{cuenta}}</td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">{{nombrecuenta}}</div>
                      </td>
                      <td>
                        <a class="btn btn-warning" href="/app/pedidos_mesa/buscarId?id={{idregistro}}">Editar</a>
                        <a class="btn btn-danger" onclick="return confirm('Estas seguro de eliminar?')"
                          href="/pedidosmesa/eliminar?id=">Eliminar</a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a href="./nuevo" class="btn btn-sm btn-info float-left">Generar nuevo cargo</a>
              <a href="./buscar" class="btn btn-sm btn-secondary float-right">Buscar pedido</a>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- Fin columna izquierda -->
      </div>
      <!-- Fin primera fila -->
    </div>
  </section>
  <!-- /.content -->

  <!-- Aqui agregar script adicionales -->