<div class="wrapper">

  <!-- Main content -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <h5 class="mb-2 mt-4">Lista de Pedidos</h5>
      <div class="row">
        <!-- Left col -->
        <div class="col-md-12">
          <!-- TABLE: LATEST ORDERS -->
          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Información general de pedidos a llevar</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th>ID REGISTRO</th>
                      <th>ID PEDIDO</th>
                      <th>NOMBRE MESA</th>
                      <th>CUENTA</th>
                      <th>NOMBRECUENTA</th>
                      <th>ACCIONES</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each pedidos_mesa}}
                    <tr id="list-{{idregistro}}">
                      <td>{{idregistro}}</td>
                      <td><a href="/cargos/buscarId?id={{idpedido}}">{{idpedido}}</a></td>
                      <td>{{'mesas_x_area.Mesa'}}</td>
                      <td>{{cuenta}}</td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">{{nombrecuenta}}</div>
                      </td>
                      <td>
                        <a class="btn btn-warning" href="/app/pedidos_mesa/buscarId?id={{idregistro}}"><i
                          class="text-white fas fa-edit"></i></a>
                        
                        <button type="button" class="btn btn-danger modalEliminar" id="{{idregistro}}" data-toggle="modal" data-target="#modal-danger">
                        <i class="text-white fas fa-window-close"></i>
                      </button>
                        <!--<a class="btn btn-danger" onclick="return confirm('Estas seguro de eliminar?') href="/pedidosmesa/eliminar?id=">Eliminar</a> -->


                      </td>
                    </tr>
                  {{/each}}

                  
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a href="./nuevo" class="btn btn-sm btn-info float-left">Generar nuevo pedido mesa</a>
              <a href="./buscar" class="btn btn-sm btn-secondary float-right">Buscar pedido mesa</a>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- Fin columna izquierda -->
      </div>
      <!-- Fin primera fila -->
    </div>
  </section>
  <div id="field_wrapper">

</div>
  <!-- /.content -->

  <!-- Aqui agregar script adicionales -->


  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    $('.modalEliminar').click(function () {
      $('#modal-danger').remove();
      var id = $(this).attr('id');
      console.log(id);
      //$('#idEliminar').val(id);

      var wrapper = $('#field_wrapper'); 
      var modal = '<div class="modal fade" id="modal-danger"><div class="modal-dialog"><div class="modal-content bg-danger"><div class="modal-header"><h4 class="modal-title">Eliminar Pedido</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><p> ¿Esta seguro de eliminar el Pedido '+id+'?&hellip;</p></div><div class="modal-footer justify-content-between"><button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button><button type="button"  class="btn btn-outline-light" onclick="pedidosEliminar('+id+')">Eliminar Pedido</button></div></div></div></div>'
      $(wrapper).append(modal);
    });
  })
  function pedidosEliminar(id) {    
      var url = "/app/pedidos_mesa/eliminar?id=" + id;
      $.ajax({
        type: 'DELETE',
        url: url,    
        success: function (data, status) {
          if (status == 'success') {
          //alert("Data: " + data + "\nStatus: " + status);
          $("#list-"+id).remove();
          $(document).Toasts('create', {
            class: 'bg-success',
            title: 'Pedido Mesa Eliminado',
            subtitle: '',
            body: 'El pedido mesa "'+id+'" se ha sido eliminado correctamente'
          })
          $('#modal-danger').modal('hide');
            return false;
        } else {
          $(document).Toasts('create', {
            class: 'bg-danger',
            title: 'Pedido Mesa Eliminado',
            subtitle: '',
            body: 'El pedido Mesa "'+id+'" no se ha podido eliminar'
          })
          console.log("Error" + data.message);
        }
        },
        error: function (data) {
          console.log(data.message);
          console.log(data);
          alert('Error al Eliminar el pedido');
          
        }
      });
    };
</script>