<div class="wrapper">
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Datos generales <small>Pedidos Mesa</small></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="quickForm" action="/app/Pedidos_mesa/modificar?id={{pedidos_mesa.idregistro}}" method="post">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="idpedido">Id Pedido</label>
                    
                  

                    <!--<select class="form-control cmbbuscar select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" name="idpedido" id="selectidpedido" required>  -->                  
                   <select class="form-control cmbBuscarUsuario select2 select2-hidden-accesible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" name="idpedido" id="selectidpedido">
                    <option value="{{pedidos_mesa.idpedido}}" selected>{{pedidos_mesa.idpedido}}</option>
                    {{#each pedidos}}
                        <option value="{{NumeroPedido}}">{{NumeroPedido}}</option>
                    {{/each}}
                    </select>
                
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="idmesa">Nombre Mesa</label>
                    <select class="form-control cmbBuscarUsuario2 select2 select2-hidden-accesible" style="width: 100%;" data-select2-id="2" tabindex="-1" aria-hidden="true" name="idmesa" id="selectidmesa">
                    <option value="{{mesas.idregistro}}" selected >{{mesas.Mesa}}</option>
                    {{#each mesas_x_area}}
                        <option value="{{idregistro}}">{{Mesa}}</option>
                    {{/each}}
                    </select>
                  
                  </div>

                  <div class="form-group col-md-3">
                  <label for="inputNombre">Cuenta</label>
                  <input value="{{pedidos_mesa.cuenta}}"   type="number" step="1" name="cuenta" class="form-control" id="selectcuenta" placeholder="Escriba el numero de cuenta" required>
                  </div>

                  <div class="form-group col-md-8">
                  <label for="inputNombre">Nombre Cuenta</label>
                  <input value="{{pedidos_mesa.nombrecuenta}}"   type="text" step="1" name="nombrecuenta" class="form-control" id="selectnombre" placeholder="Escriba el nombre de cuenta" required>
                  </div>
                  
                </div>

                <!-- /.card-body -->
                <div class="card-footer">
                  <a class="btn btn-primary toastrDefaultSuccess" onclick="pedidosModificar({{pedidos_mesa.idregistro}})" href="javascript:void(0)" id="{{pedidos_mesa.idregistro}}">Guardar</a>
                  <!-- <button type="button" class="btn btn-primary toastrDefaultSuccess pedidos_mesaguardar" value="/app/Pedidos_mesa/guardar/">Guardar</button>   -->
                </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
 
  <!-- Aqui agregar script adicionales -->
  <!-- jquery-validation -->
  <script src="/public/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="/public/plugins/jquery-validation/additional-methods.min.js"></script>
  

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    $('.cmbBuscarUsuario').select2();
    $('.cmbBuscarUsuario2').select2();
  });

 function pedidosModificar (id) {    
      var url = "/app/pedidos_mesa/modificar?id=" + id;
      var datam= {
                idpedido: $("#selectidpedido").val(),
                idmesa: $("#selectidmesa").val(),
                cuenta: $("#selectcuenta").val(),
                nombrecuenta:$("#selectnombre").val()
        };
       
        console.log("hola", + id);
      $.ajax({
        type: 'PUT',
        url: url,
        data: datam,        
        success: function (data, status) {
          if (status == 'success') {
            alert("Data: " + data + "\nStatus: " + status);
            window.location.replace("listar");
          } else {
            alert("Data: " + data + "\nStatus: " + status);
            console.log("Error"+ data.message);
          }
        },
        error: function (data) {
          console.log(data.message);
          console.log(data);
          alert('Error al guardar el pedido');
          
        }
      });
    };




</script>